<table{{ range $k, $v := .Attributes }}{{ if and $v (ne $k "caption") }}{{ printf " %s=%q" $k $v | safeHTMLAttr }}{{ end }}{{ end }}>
  
  <!-- UPDATED SCOPE BLOCK -->
  {{ $attrs := .Attributes }}
  {{ if isset $attrs "caption" }}
    <caption class="text-lg italic text-neutral-500 dark:text-neutral-300 mt-2 mb-5 text-center caption-top">
      {{ index $attrs "caption" | $.Page.RenderString }}
    </caption>
  {{ end }}

  <thead>
    {{- range .THead }}
    <tr>
      {{- range . }}
      <th{{ with .Alignment }} style="text-align: {{ . }}"{{ end }}>{{ .Text }}</th>
      {{- end }}
    </tr>
    {{- end }}
  </thead>
  <tbody>
    {{- range .TBody }}
    <tr>
      {{- range . }}
      <td{{ with .Alignment }} style="text-align: {{ . }}"{{ end }}>{{ .Text }}</td>
      {{- end }}
    </tr>
    {{- end }}
  </tbody>
</table>
