<!-- layouts/partials/extend-head.html -->

<!-- 1. Lightbox3  -->
{{ $lightboxCss := resources.Get "css/lightbox3.css" }}
{{ if $lightboxCss }}
  <link rel="stylesheet" href="{{ $lightboxCss.RelPermalink }}">
{{ end }}

{{ $customCss := resources.Get "css/custom.css" }}
{{ if $customCss }}
  <link rel="stylesheet" href="{{ $customCss.RelPermalink }}">
{{ end }}

<!-- 2. Dynamic Theme Palette Containers (Evaluated once via partialCached) -->
{{ $schemes := slice "autumn" "avocado" "bloody" "blowfish" "burufugu" "congo" "fire" "forest" "github" "marvel" "neon" "noir" "ocean" "one-light" "princess" "slate" "terminal" }}
{{ range $schemes }}
  {{ $scheme := . }}
  {{ with resources.Get (printf "css/schemes/%s.css" $scheme) }}
    <div class="raw-scheme-data" data-scheme="{{ $scheme }}" data-css="{{ .Content }}"></div>
  {{ end }}
{{ end }}

<!-- 3. Custom TOC CSS -->

{{- if .Params.showTableOfContents | default site.Params.article.showTableOfContents | default true -}}
  {{- $style := resources.Get "css/toc.css" | resources.Minify | resources.Fingerprint -}}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" crossorigin="anonymous">
{{- end -}}

