<div class="codon-table-container">
  <table class="codon-table">
    <caption>Standard codon table used to translate a three-letter mRNA sequence (<b>codon</b>) into a specific amino acid or a stop signal. NOTE. Methonine (Met) is the start codon.</caption>
    <thead>
      <tr>
        <th></th>
        <th colspan="4">Second base</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- Sizing constraints are strictly mapped on this row -->
      <!-- Changed from 80px, 90px, 90px, 90px, 90px, 80px -->
      <tr>
        <td class="font-bold" style="width: 100px;">First base</td>
        <td class="codon-axis-label" style="width: 110px;">U</td>
        <td class="codon-axis-label" style="width: 110px;">C</td>
        <td class="codon-axis-label" style="width: 110px;">A</td>
        <td class="codon-axis-label" style="width: 110px;">G</td>
        <td class="font-bold" style="width: 100px;">Third base</td>
      </tr>
      <!-- U Row Group -->
      <tr>
        <td class="codon-axis-label" rowspan="4">U</td>
        <td class="codon-amino-acid" rowspan="2">Phe (F)</td>
        <td class="codon-amino-acid" rowspan="4">Ser (S)</td>
        <td class="codon-amino-acid" rowspan="2">Tyr (Y)</td>
        <td class="codon-amino-acid" rowspan="2">Cys (C)</td>
        <td class="codon-axis-label">U</td>
      </tr>
      <tr>
        <td class="codon-axis-label">C</td>
      </tr>
      <tr>
        <td class="codon-amino-acid" rowspan="2">Leu (L)</td>
        <td class="codon-stop">Stop</td>
        <td class="codon-stop">Stop</td>
        <td class="codon-axis-label">A</td>
      </tr>
      <tr>
        <td class="codon-stop">Stop</td>
        <td class="codon-amino-acid">Trp (W)</td>
        <td class="codon-axis-label">G</td>
      </tr>
      <!-- C Row Group -->
      <tr>
        <td class="codon-axis-label" rowspan="4">C</td>
        <td class="codon-amino-acid" rowspan="4">Leu (L)</td>
        <td class="codon-amino-acid" rowspan="4">Pro (P)</td>
        <td class="codon-amino-acid" rowspan="2">His (H)</td>
        <td class="codon-amino-acid" rowspan="4">Arg (R)</td>
        <td class="codon-axis-label">U</td>
      </tr>
      <tr>
        <td class="codon-axis-label">C</td>
      </tr>
      <tr>
        <td class="codon-amino-acid" rowspan="2">Gln (Q)</td>
        <td class="codon-axis-label">A</td>
      </tr>
      <tr>
        <td class="codon-axis-label">G</td>
      </tr>
      <!-- A Row Group -->
      <tr>
        <td class="codon-axis-label" rowspan="4">A</td>
        <td class="codon-amino-acid" rowspan="3">Ile (I)</td>
        <td class="codon-amino-acid" rowspan="4">Thr (T)</td>
        <td class="codon-amino-acid" rowspan="2">Asn (N)</td>
        <td class="codon-amino-acid" rowspan="2">Ser (S)</td>
        <td class="codon-axis-label">U</td>
      </tr>
      <tr>
        <td class="codon-axis-label">C</td>
      </tr>
      <tr>
        <td class="codon-amino-acid" rowspan="2">Lys (K)</td>
        <td class="codon-amino-acid" rowspan="2">Arg (R)</td>
        <td class="codon-axis-label">A</td>
      </tr>
      <tr>
        <td class="codon-start">Met (M)</td>
        <td class="codon-axis-label">G</td>
      </tr>
      <!-- G Row Group -->
      <tr>
        <td class="codon-axis-label" rowspan="4">G</td>
        <td class="codon-amino-acid" rowspan="4">Val (V)</td>
        <td class="codon-amino-acid" rowspan="4">Ala (A)</td>
        <td class="codon-amino-acid" rowspan="2">Asp (D)</td>
        <td class="codon-amino-acid" rowspan="4">Gly (G)</td>
        <td class="codon-axis-label">U</td>
      </tr>
      <tr>
        <td class="codon-axis-label">C</td>
      </tr>
      <tr>
        <td class="codon-amino-acid" rowspan="2">Glu (E)</td>
        <td class="codon-axis-label">A</td>
      </tr>
      <tr>
        <td class="codon-axis-label">G</td>
      </tr>
    </tbody>
  </table>
</div>